* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

body {
  background-color: aqua;
}

.accordion {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.item {
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  margin-bottom: 10px;
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.label::after {
  content: "+";
  font-size: 30px;
  /* margin-left: auto; */
}

.active-header::after {
  content: "-";
  font-size: 30px;
}

.content {
  max-height: 0;
  overflow: hidden;
}
